aiosqlite
anthropic
lancedb
networkx
numpy
ollama
openai
outlines
psutil
pyarrow
pydantic>=2.13.4
pydantic-settings
pyod
pytest
pytest-asyncio
rocksdict
scikit-learn
spacy
tiktoken
transformers
uuid6
pytest-cov
